<h1>Basic Select List</h1>

{{tiny-select
  options=basicSelectListOptions
  selection=basicSelectedValue
  optionLabelPath="label"
  optionValuePath="value"
  prompt="Select an Colour"
  class='tiny-select'
}}

<p>Selected Colour: {{basicSelectedValue}}</p>
